.links {
    cursor: pointer;
    text-decoration: none;
    color: white;
    border: 2px solid red;
    background-color: red;
    padding: 10px;
    padding-bottom: 5px;
    border-radius: 8px;
}

.links:visited {
    color: white;
    background-color: blue;
    border-color: blue;
}

.links:hover {
    color: white;
    background-color: green;
    border-color: green;
}

.links:active {
    color: white;
    background-color: indigo;
    border-color: indigo;
}